.transactions {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  text-align: center;
  color: rgb(79, 83, 85);
}

.head {
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  border: solid 1px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: rgb(61, 159, 194);
}

.name {
  padding-top: 15px;
  padding-bottom: 15px;
}

.data {
  text-transform: capitalize;
}

.data:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

.data:nth-child(even) {
  background-color: rgb(189, 229, 238);
}
